repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: ["--branch", "main"]
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: no-go-testing
      - id: golangci-lint
      - id: go-unit-tests
  - repo: local
    hooks:
      - id: commitlint
        name: Commit Lint
        entry: commitlint lint --message
        stages: [commit-msg]
        language: system
        description: "Commit Lint to Conventional Commits pattern"
  - repo: https://github.com/guionardo/govuln
    rev: v0.1.0
    hooks:
      - id: go-vulncheck
